.elementor-8 .elementor-element.elementor-element-11588bd7 {
  padding: 60px 0px 60px 0px;
}
.elementor-8
  .elementor-element.elementor-element-815f2c3
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 100px 0px 100px;
}
.elementor-8 .elementor-element.elementor-element-32d92dc5 {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-68b89f97:not(.elementor-motion-effects-element-type-background),
.elementor-8
  .elementor-element.elementor-element-68b89f97
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #d6dadd;
}
.elementor-8 .elementor-element.elementor-element-68b89f97 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 60px 0px 40px 0px;
}
.elementor-8
  .elementor-element.elementor-element-68b89f97
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-79961616 {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-79961616
  .elementor-image
  img {
  width: 70%;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
  transition-duration: 0.3s;
  border-radius: 50% 50% 50% 50%;
}
.elementor-8
  .elementor-element.elementor-element-79961616
  .elementor-image:hover
  img {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
}
.elementor-8
  .elementor-element.elementor-element-2dbb49b3
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 10px;
}
.elementor-8 .elementor-element.elementor-element-37b5d712 {
  text-align: left;
}
.elementor-8
  .elementor-element.elementor-element-37b5d712
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-510d7e0a {
  text-align: left;
}
.elementor-8
  .elementor-element.elementor-element-510d7e0a.elementor-widget-heading
  .elementor-heading-title {
  color: #828fa2;
}
.elementor-8
  .elementor-element.elementor-element-510d7e0a
  .elementor-heading-title {
  font-size: 12px;
  font-weight: normal;
}
.elementor-8 .elementor-element.elementor-element-66a96eb3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 60px 0px 40px 0px;
}
.elementor-8
  .elementor-element.elementor-element-7c6e4154
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 10px;
}
.elementor-8 .elementor-element.elementor-element-5eff10ac {
  text-align: left;
}
.elementor-8
  .elementor-element.elementor-element-5eff10ac
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-5a89780c {
  text-align: left;
}
.elementor-8
  .elementor-element.elementor-element-5a89780c.elementor-widget-heading
  .elementor-heading-title {
  color: #828fa2;
}
.elementor-8
  .elementor-element.elementor-element-5a89780c
  .elementor-heading-title {
  font-size: 12px;
  font-weight: normal;
}
.elementor-8
  .elementor-element.elementor-element-549fcb5a
  > .elementor-element-populated,
.elementor-8
  .elementor-element.elementor-element-549fcb5a
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-8
  .elementor-element.elementor-element-549fcb5a
  > .elementor-background-slideshow {
  border-radius: 0% 0% 0% 0%;
}
.elementor-8
  .elementor-element.elementor-element-549fcb5a
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-8 .elementor-element.elementor-element-56e87598 {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-56e87598
  .elementor-image
  img {
  width: 70%;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
  transition-duration: 0.3s;
  border-radius: 50% 50% 50% 50%;
}
.elementor-8
  .elementor-element.elementor-element-56e87598
  .elementor-image:hover
  img {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
}
.elementor-8
  .elementor-element.elementor-element-4abfdb62:not(.elementor-motion-effects-element-type-background),
.elementor-8
  .elementor-element.elementor-element-4abfdb62
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #d6dadd;
}
.elementor-8 .elementor-element.elementor-element-4abfdb62 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 0px 40px 0px;
}
.elementor-8
  .elementor-element.elementor-element-4abfdb62
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-350e638b {
  text-align: center;
}
.elementor-8
  .elementor-element.elementor-element-a07bc16
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(12px / 2);
}
.elementor-8
  .elementor-element.elementor-element-a07bc16
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(12px / 2);
}
.elementor-8
  .elementor-element.elementor-element-a07bc16
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(12px / 2);
  margin-left: calc(12px / 2);
}
.elementor-8
  .elementor-element.elementor-element-a07bc16
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-12px / 2);
  margin-left: calc(-12px / 2);
}
body.rtl
  .elementor-8
  .elementor-element.elementor-element-a07bc16
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-12px / 2);
}
body:not(.rtl)
  .elementor-8
  .elementor-element.elementor-element-a07bc16
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-12px / 2);
}
.elementor-8
  .elementor-element.elementor-element-a07bc16
  .elementor-icon-list-icon
  i {
  font-size: 18px;
}
.elementor-8
  .elementor-element.elementor-element-a07bc16
  .elementor-icon-list-icon
  svg {
  width: 18px;
}
.elementor-8
  .elementor-element.elementor-element-a07bc16
  .elementor-icon-list-item {
  font-size: 16px;
}
@media (max-width: 767px) {
  .elementor-8
    .elementor-element.elementor-element-815f2c3
    > .elementor-element-populated {
    padding: 2px 2px 2px 2px;
  }
  .elementor-8 .elementor-element.elementor-element-79961616 {
    text-align: center;
  }
  .elementor-8
    .elementor-element.elementor-element-79961616
    .elementor-image
    img {
    border-radius: 50% 50% 50% 50%;
  }
  .elementor-8
    .elementor-element.elementor-element-79961616
    > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
  }
  .elementor-8
    .elementor-element.elementor-element-2dbb49b3
    > .elementor-element-populated {
    margin: 0px 0px 20px 0px;
    padding: 0px 20px 0px 20px;
  }
  .elementor-8 .elementor-element.elementor-element-37b5d712 {
    text-align: center;
  }
  .elementor-8 .elementor-element.elementor-element-510d7e0a {
    text-align: center;
  }
  .elementor-8
    .elementor-element.elementor-element-73d4fa41
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-8
    .elementor-element.elementor-element-7c6e4154
    > .elementor-element-populated {
    margin: 0px 0px 40px 0px;
    padding: 230px 30px 0px 20px;
  }
  .elementor-8 .elementor-element.elementor-element-5eff10ac {
    text-align: center;
  }
  .elementor-8 .elementor-element.elementor-element-5a89780c {
    text-align: center;
  }
  .elementor-8
    .elementor-element.elementor-element-4c5feeef
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-8
    .elementor-element.elementor-element-549fcb5a
    > .elementor-element-populated {
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-8 .elementor-element.elementor-element-56e87598 {
    text-align: center;
  }
  .elementor-8
    .elementor-element.elementor-element-56e87598
    .elementor-image
    img {
    border-radius: 50% 50% 50% 50%;
  }
} /* Start custom CSS for column, class: .elementor-element-549fcb5a */
@media only screen and (max-width: 640px) {
  .elementor-8 .elementor-element.elementor-element-549fcb5a {
    position: absolute;
    top: 0px;
  }
} /* End custom CSS */
