.elementor-6 .elementor-element.elementor-element-44b7908 {
  padding: 60px 0px 60px 0px;
}
.elementor-6
  .elementor-element.elementor-element-06ac867
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 20px 0px 40px;
}
.elementor-6 .elementor-element.elementor-element-0026048 {
  text-align: left;
}
.elementor-6
  .elementor-element.elementor-element-41f56e8
  .elementor-text-editor {
  text-align: left;
}
.elementor-6 .elementor-element.elementor-element-9dfb47b a.elementor-button,
.elementor-6 .elementor-element.elementor-element-9dfb47b .elementor-button {
  border-radius: 0px 0px 0px 0px;
}
.elementor-6
  .elementor-element.elementor-element-6d09501
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  padding: 0px 70px 0px 70px;
}
.elementor-6
  .elementor-element.elementor-element-536dc59a:not(.elementor-motion-effects-element-type-background),
.elementor-6
  .elementor-element.elementor-element-536dc59a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #d6dadd;
}
.elementor-6 .elementor-element.elementor-element-536dc59a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 60px 0px 60px 0px;
}
.elementor-6
  .elementor-element.elementor-element-536dc59a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6 .elementor-element.elementor-element-54d884af {
  text-align: center;
}
.elementor-6 .elementor-element.elementor-element-6a7c35 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.elementor-6
  .elementor-element.elementor-element-4f5453c5.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-6
  .elementor-element.elementor-element-4f5453c5.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-6
  .elementor-element.elementor-element-4f5453c5.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-6
  .elementor-element.elementor-element-4f5453c5
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 100%;
}
.elementor-6
  .elementor-element.elementor-element-4f5453c5
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-10d1bfb5.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-6
  .elementor-element.elementor-element-10d1bfb5.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-6
  .elementor-element.elementor-element-10d1bfb5.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-6
  .elementor-element.elementor-element-10d1bfb5
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 100%;
}
.elementor-6
  .elementor-element.elementor-element-10d1bfb5
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-4e361430.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-6
  .elementor-element.elementor-element-4e361430.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-6
  .elementor-element.elementor-element-4e361430.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-6
  .elementor-element.elementor-element-4e361430
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 100%;
}
.elementor-6
  .elementor-element.elementor-element-4e361430
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-13094dc1.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-6
  .elementor-element.elementor-element-13094dc1.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-6
  .elementor-element.elementor-element-13094dc1.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-6
  .elementor-element.elementor-element-13094dc1
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 100%;
}
.elementor-6
  .elementor-element.elementor-element-13094dc1
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-6 .elementor-element.elementor-element-11c5effd a.elementor-button,
.elementor-6 .elementor-element.elementor-element-11c5effd .elementor-button {
  border-radius: 0px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-2607bea5 {
  padding: 60px 0px 60px 0px;
}
.elementor-6 .elementor-element.elementor-element-50d202bd {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-50d202bd
  > .elementor-widget-container {
  margin: 0px 0px 50px 0px;
}
.elementor-6 .elementor-element.elementor-element-78fe986 .grid-item {
  width: calc(100% / 3);
}
.elementor-6
  .elementor-element.elementor-element-7a9e98e:not(.elementor-motion-effects-element-type-background),
.elementor-6
  .elementor-element.elementor-element-7a9e98e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #d6dadd;
}
.elementor-6 .elementor-element.elementor-element-7a9e98e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 0px 30px 0px;
}
.elementor-6
  .elementor-element.elementor-element-7a9e98e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6 .elementor-element.elementor-element-baec186 {
  flex: 1;
}
.elementor-6
  .elementor-element.elementor-element-7c49b21
  > .elementor-container {
  min-height: 400px;
}
.elementor-6
  .elementor-element.elementor-element-7c49b21
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-6
  .elementor-element.elementor-element-7c49b21:not(.elementor-motion-effects-element-type-background),
.elementor-6
  .elementor-element.elementor-element-7c49b21
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://ml0eehlclbti.i.optimole.com/X6jQjw-95UmnAAr/w:auto/h:auto/q:auto/https://duosweb.com/wp-content/uploads/2019/03/POPUP-OVERLAY-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-6 .elementor-element.elementor-element-7c49b21 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-7c49b21
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6
  .elementor-element.elementor-element-9f2fe4d
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-9f2fe4d.elementor-view-stacked
  .elementor-icon {
  background-color: rgba(255, 255, 255, 0);
  color: #ff0000;
}
.elementor-6
  .elementor-element.elementor-element-9f2fe4d.elementor-view-framed
  .elementor-icon,
.elementor-6
  .elementor-element.elementor-element-9f2fe4d.elementor-view-default
  .elementor-icon {
  color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}
.elementor-6
  .elementor-element.elementor-element-9f2fe4d.elementor-view-framed
  .elementor-icon,
.elementor-6
  .elementor-element.elementor-element-9f2fe4d.elementor-view-default
  .elementor-icon
  svg {
  fill: rgba(255, 255, 255, 0);
}
.elementor-6
  .elementor-element.elementor-element-9f2fe4d.elementor-view-framed
  .elementor-icon {
  background-color: #ff0000;
}
.elementor-6
  .elementor-element.elementor-element-9f2fe4d.elementor-view-stacked
  .elementor-icon
  svg {
  fill: #ff0000;
}
.elementor-6 .elementor-element.elementor-element-9f2fe4d .elementor-icon {
  font-size: 56px;
  padding: 27px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-9f2fe4d .elementor-icon i,
.elementor-6 .elementor-element.elementor-element-9f2fe4d .elementor-icon svg {
  transform: rotate(0deg);
}
.elementor-6 .elementor-element.elementor-element-f19ef50 {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-f19ef50
  .elementor-heading-title {
  font-size: 14px;
  font-weight: 500;
}
.elementor-6
  .elementor-element.elementor-element-f19ef50
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-7aa94a5 {
  padding: 30px 0px 0px 0px;
}
.elementor-6 .elementor-element.elementor-element-4489128 {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-4489128
  > .elementor-widget-container {
  margin: 0px 0px 10px 0px;
}
.elementor-6
  .elementor-element.elementor-element-0b83a1d
  .elementor-main-swiper
  .swiper-slide {
  border-width: 0px 0px 0px 0px;
  border-color: rgba(196, 196, 196, 0.37);
}
.elementor-6
  .elementor-element.elementor-element-0b83a1d
  .elementor-testimonial__text {
  font-size: 15px;
}
.elementor-6
  .elementor-element.elementor-element-0b83a1d
  .elementor-testimonial__name {
  font-style: normal;
}
.elementor-6
  .elementor-element.elementor-element-0b83a1d
  .elementor-testimonial__title {
  color: #adadad;
  font-size: 12px;
  font-style: normal;
}
.elementor-6
  .elementor-element.elementor-element-0b83a1d
  .elementor-testimonial__image
  img {
  width: 125px;
  height: 125px;
  border-style: solid;
  border-color: #d6dadd;
  border-width: 5px;
}
.elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_left
  .elementor-testimonial__content:after,
.elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_right
  .elementor-testimonial__content:after {
  top: calc(20px + (125px / 2) - 8px);
}
body:not(.rtl)
  .elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_stacked:not(.elementor-testimonial--align-center):not(.elementor-testimonial--align-right)
  .elementor-testimonial__content:after,
body:not(.rtl)
  .elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_inline:not(.elementor-testimonial--align-center):not(.elementor-testimonial--align-right)
  .elementor-testimonial__content:after,
.elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_stacked.elementor-testimonial--align-left
  .elementor-testimonial__content:after,
.elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_inline.elementor-testimonial--align-left
  .elementor-testimonial__content:after {
  left: calc(20px + (125px / 2) - 8px);
  right: auto;
}
body.rtl
  .elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_stacked:not(.elementor-testimonial--align-center):not(.elementor-testimonial--align-left)
  .elementor-testimonial__content:after,
body.rtl
  .elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_inline:not(.elementor-testimonial--align-center):not(.elementor-testimonial--align-left)
  .elementor-testimonial__content:after,
.elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_stacked.elementor-testimonial--align-right
  .elementor-testimonial__content:after,
.elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_inline.elementor-testimonial--align-right
  .elementor-testimonial__content:after {
  right: calc(20px + (125px / 2) - 8px);
  left: auto;
}
body:not(.rtl)
  .elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_above:not(.elementor-testimonial--align-center):not(.elementor-testimonial--align-right)
  .elementor-testimonial__content:after,
.elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_above.elementor-testimonial--align-left
  .elementor-testimonial__content:after {
  left: calc(20px + (125px / 2) - 8px);
  right: auto;
}
body.rtl
  .elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_above:not(.elementor-testimonial--align-center):not(.elementor-testimonial--align-left)
  .elementor-testimonial__content:after,
.elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_above.elementor-testimonial--align-right
  .elementor-testimonial__content:after {
  right: calc(20px + (125px / 2) - 8px);
  left: auto;
}
body.rtl
  .elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_inline.elementor-testimonial--align-left
  .elementor-testimonial__image
  + cite,
body.rtl
  .elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_above.elementor-testimonial--align-left
  .elementor-testimonial__image
  + cite,
body:not(.rtl)
  .elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_inline
  .elementor-testimonial__image
  + cite,
body:not(.rtl)
  .elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_above
  .elementor-testimonial__image
  + cite {
  margin-left: 0px;
  margin-right: 0;
}
body:not(.rtl)
  .elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_inline.elementor-testimonial--align-right
  .elementor-testimonial__image
  + cite,
body:not(.rtl)
  .elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_above.elementor-testimonial--align-right
  .elementor-testimonial__image
  + cite,
body.rtl
  .elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_inline
  .elementor-testimonial__image
  + cite,
body.rtl
  .elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_above
  .elementor-testimonial__image
  + cite {
  margin-right: 0px;
  margin-left: 0;
}
.elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_stacked
  .elementor-testimonial__image
  + cite,
.elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_left
  .elementor-testimonial__image
  + cite,
.elementor-6
  .elementor-element.elementor-element-0b83a1d.elementor-testimonial--layout-image_right
  .elementor-testimonial__image
  + cite {
  margin-top: 0px;
}
.elementor-6
  .elementor-element.elementor-element-0b83a1d
  .elementor-swiper-button {
  font-size: 20px;
}
.elementor-6
  .elementor-element.elementor-element-0b83a1d
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
  padding: 0% 15% 0% 15%;
}
.elementor-6
  .elementor-element.elementor-element-3570b2b5:not(.elementor-motion-effects-element-type-background),
.elementor-6
  .elementor-element.elementor-element-3570b2b5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #d6dadd;
}
.elementor-6 .elementor-element.elementor-element-3570b2b5 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 0px 40px 0px;
}
.elementor-6
  .elementor-element.elementor-element-3570b2b5
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-6 .elementor-element.elementor-element-5506c8f1 {
  text-align: center;
}
.elementor-6
  .elementor-element.elementor-element-daf2f4
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(5px / 2);
}
.elementor-6
  .elementor-element.elementor-element-daf2f4
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(5px / 2);
}
.elementor-6
  .elementor-element.elementor-element-daf2f4
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(5px / 2);
  margin-left: calc(5px / 2);
}
.elementor-6
  .elementor-element.elementor-element-daf2f4
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-5px / 2);
  margin-left: calc(-5px / 2);
}
body.rtl
  .elementor-6
  .elementor-element.elementor-element-daf2f4
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-5px / 2);
}
body:not(.rtl)
  .elementor-6
  .elementor-element.elementor-element-daf2f4
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-5px / 2);
}
.elementor-6
  .elementor-element.elementor-element-daf2f4
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  i {
  color: #686868;
}
.elementor-6
  .elementor-element.elementor-element-daf2f4
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  svg {
  fill: #686868;
}
.elementor-6
  .elementor-element.elementor-element-daf2f4
  .elementor-icon-list-icon
  i {
  font-size: 20px;
}
.elementor-6
  .elementor-element.elementor-element-daf2f4
  .elementor-icon-list-icon
  svg {
  width: 20px;
}
.elementor-6
  .elementor-element.elementor-element-daf2f4
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: #686868;
}
.elementor-6
  .elementor-element.elementor-element-daf2f4
  .elementor-icon-list-text {
  padding-left: 10px;
}
.elementor-6
  .elementor-element.elementor-element-daf2f4
  .elementor-icon-list-item {
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 991px) {
  .elementor-6 .elementor-element.elementor-element-78fe986 .grid-item {
    width: calc(100% / 3);
  }
  .elementor-6
    .elementor-element.elementor-element-0b83a1d
    > .elementor-widget-container {
    padding: 0% 0% 0% 0%;
  }
}
@media (max-width: 767px) {
  .elementor-6
    .elementor-element.elementor-element-06ac867
    > .elementor-element-populated {
    padding: 320px 0px 0px 0px;
  }
  .elementor-6 .elementor-element.elementor-element-0026048 {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-41f56e8
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-6
    .elementor-element.elementor-element-6d09501
    > .elementor-element-populated {
    padding: 2px 2px 2px 2px;
  }
  .elementor-6 .elementor-element.elementor-element-7a58cf42 {
    width: 50%;
  }
  .elementor-6
    .elementor-element.elementor-element-4f5453c5
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-6 .elementor-element.elementor-element-6902abf4 {
    width: 50%;
  }
  .elementor-6
    .elementor-element.elementor-element-10d1bfb5
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-6 .elementor-element.elementor-element-2770a1bd {
    width: 50%;
  }
  .elementor-6
    .elementor-element.elementor-element-4e361430
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-6 .elementor-element.elementor-element-36c70d2a {
    width: 50%;
  }
  .elementor-6
    .elementor-element.elementor-element-13094dc1
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-6 .elementor-element.elementor-element-78fe986 .grid-item {
    width: calc(100% / 1);
  }
  .elementor-6
    .elementor-element.elementor-element-7c49b21
    > .elementor-container {
    min-height: 200px;
  }
} /* Start custom CSS for column, class: .elementor-element-6d09501 */
@media only screen and (max-width: 600px) {
  .elementor-6 .elementor-element.elementor-element-6d09501 {
    position: absolute;
    top: 0px;
  }
} /* End custom CSS */
/* Start custom CSS for image-box, class: .elementor-element-4f5453c5 */
.elementor-6
  .elementor-element.elementor-element-4f5453c5
  .elementor-image-box-img
  img {
  height: 50px;
  width: auto;
} /* End custom CSS */
/* Start custom CSS for image-box, class: .elementor-element-10d1bfb5 */
.elementor-6
  .elementor-element.elementor-element-10d1bfb5
  .elementor-image-box-img
  img {
  height: 50px;
  width: auto;
} /* End custom CSS */
/* Start custom CSS for image-box, class: .elementor-element-4e361430 */
.elementor-6
  .elementor-element.elementor-element-4e361430
  .elementor-image-box-img
  img {
  height: 50px;
  width: auto;
} /* End custom CSS */
/* Start custom CSS for image-box, class: .elementor-element-13094dc1 */
.elementor-6
  .elementor-element.elementor-element-13094dc1
  .elementor-image-box-img
  img {
  height: 50px;
  width: auto;
} /* End custom CSS */
/* Start custom CSS for testimonial-carousel, class: .elementor-element-0b83a1d */
@media only screen and (max-width: 480px) {
  .elementor-6
    .elementor-element.elementor-element-0b83a1d
    .elementor-testimonial {
    display: block;
  }

  .elementor-6
    .elementor-element.elementor-element-0b83a1d
    .elementor-testimonial__footer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .elementor-6
    .elementor-element.elementor-element-0b83a1d
    .elementor-testimonial__content {
    padding-top: 130px;
    text-align: center !important;
  }
} /* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-daf2f4 */
.elementor-6
  .elementor-element.elementor-element-daf2f4
  .elementor-icon-list-item {
  margin-bottom: 10px;
} /* End custom CSS */
